<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>




        <div class="container" style="background-color: rgb(253, 253, 253);">
            <!-- Add Prescription Here -->
            <div style="text-align: center; margin: 4px;">
                <h1>Add Prescription!</h1>
            </div>
            <form id="form_id">
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group mt-3 mb-3">
                            <!-- <label for="patient_id">Patient ID</label> -->
                            <input type="text" class="form-control"
                                id="patient_id"
                                name="patient_id" placeholder="patient_id">
                        </div>




                        <div class="form-group mb-3">
                            <!-- <label for="bp">Blood Pressure</label> -->
                            <input type="text" class="form-control" id="bp"
                                name="bp" placeholder="Blood Pressure">
                        </div>
                        <div class="form-group mb-3">
                            <!-- <label for="Weight">Weight</label> -->
                            <input type="text" class="form-control" id="weight"
                                name="weight" placeholder="Weight">
                        </div>
                        <div class="form-group mb-3">
                            <!-- <label for="refference">Refference</label> -->
                            <input type="text" class="form-control"
                                id="refference"
                                name="refference" placeholder="Refference">
                        </div>
                        <div class="form-group mb-3">
                            <label for="type">Type</label>
                            Old <input type="radio" name="type" value="new">
                            New<input type="radio" name="type" value="old">
                            <span class="red">
                            </div>




                            <div class="form-group mb-3">
                                <!-- <label for="appointment_id">Appointment Id</label> -->
                                <input type="text" class="form-control"
                                    id="appointment_id"
                                    name="appointment_id"
                                    placeholder="Appointment Id">
                            </div>
                            <div class="form-group mb-3">
                                <!-- <label for="date">Date</label> -->
                                <input type="date" class="form-control"
                                    id="date"
                                    name="date" placeholder="Date">
                            </div>
                            <div class="form-group mb-3">
                                <!-- <label for="hospital_name">Hospital Name</label> -->
                                <input type="text" class="form-control"
                                    id="hospital_name"
                                    name="hopspital_name" placeholder="Hospital
                                    Name">
                            </div>
                            <div class="form-group mb-3">
                                <!-- <label for="address">Address</label> -->
                                <input type="text" class="form-control"
                                    id="address"
                                    name="address" placeholder="Address">
                            </div>
                        </div>
                            <div class="form-group col-md-6">
                                <table id="t_id" class="table table-striped mt-3">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th width="160">Medicine Name</th>
                                            <th width="160">Medicine Type</th>
                                            <th>Instruction</th>
                                            <th width="80">Days</th>
                                            <th>  Action</th>
    
                                        </tr>
                                    </thead>
                                    <tbody id="medicine">
                                        <tr>
                                            <td><input type="text"
                                                    name="medicine_name[]"
                                                    autocomplete="off"
                                                    class="medicine form-control"
                                                    placeholder="Medicine Name"></td>
                                            <td><input type="text"
                                                    name="medicine_type[]"
                                                    autocomplete="off"
                                                    class="form-control"
                                                    placeholder="Medicine Type"></td>
                                            <td><textarea
                                                    name="medicine_instruction[]"
                                                    class="form-control"
                                                    placeholder="Instruction"></textarea></td>
                                            <td><input type="text"
                                                    name="medicine_days[]"
                                                    autocomplete="off"
                                                    class="form-control"
                                                    placeholder="Days"></td>
                                                    <td>
                                                        <button class="btn btn-success" onclick="myFunction()">Add</button>
                                                    </td>
    
    
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="bg-danger">
                                            <th width="230">Diagnosis</th>
                                            <th>Instruction</th>
    
                                        </tr>
                                    </thead>
                                    <tbody id="diagnosis">
                                        <tr>
                                            <td><input type="text"
                                                    name="diagnosis_name[]"
                                                    autocomplete="off"
                                                    class="form-control"
                                                    placeholder="Diagnosis"></td>
                                            <td><textarea
                                                    name="diagnosis_instruction[]"
                                                    class="form-control"
                                                    placeholder="Instruction"></textarea></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-group col-md-4 mb-3 mt-3">
                                <label for="fees">Visiting Fees</label>
                                <input type="text" class="form-control"
                                    id="fees"
                                    name="fees" placeholder="Visiting Fees">
                            </div>
                            <div class="form-group col-md-4 mb-3">
                                <label for="patient_notes">Patient Notes</label>
                                <input type="text" class="form-control"
                                    id="patient_notes"
                                    name="patient_notes" placeholder="Patient  Notes">
                                   
                            </div>
                        
                        
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
<div class="container">
    <!-- Prescriptoin View -->

<div class="container" style="background-color: rgb(248, 248, 248);">
    <div style="text-align: center; margin:  4px;">
    <h1>PrescriptionS Here!</h1>
    </div>
    <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Patient Id</th>
                            <th scope="col">Blood Pressure</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Refference</th>
                            <th scope="col">Type</th>
                            <th scope="col">Appointment Id</th>
                            <th scope="col">Date</th>
                            <th scope="col">Hospital Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Visiting Fees</th>
                            <th scope="col"> Patient Notes</th>
                            <th scope="col">Action</th>
                        </tr>
                           
                            
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>P0QR4L6</td>
                            <td>180/95</td>
                            <td>69kg</td>
                            <td>Dr.Farhad</td>
                            <td>Old</td>
                            <td>158A58PRS</td>
                            <td>10/12/2020</td>
                            <td>Arkham Asylum</td>
                            <td>main st model-town lhr</td>
                            <td>1200Rs.</td>
                            <td>Nahi Btao Ga!</td>
                            <td>Edit/DElete/View</td>
                        </tr>
                       
                    </tbody>
                </table>
    </div>
    <div class="container" style="background-color: rgb(248, 248, 248);">
    <table>
                           
        <div style="float:left;width:65%;padding-left:10px">
            <!-- Medicine -->
            <table class="table table-striped"> 
                <thead>
                    <tr class="bg-info header-2">
                        <th>Medicine Name</th>
                        <th width="80">Type</th>
                        <th width="80">Days</th>
                        <th>Instruction</th>
                    </tr>
                </thead>
                <tbody>
                                                    <tr>
                        <td>Paracetamol</td> 
                        <td>Tablet</td> 
                        <td>10</td>  
                        <td>1+0+1</td> 
                    </tr>
                                                    <tr>
                        <td>Combiflam</td> 
                        <td>Capsuls</td> 
                        <td>15</td>  
                        <td>0+0+1</td> 
                    </tr>
                                                    <tr>
                        <td>captopril</td> 
                        <td>Capsuls</td> 
                        <td>10</td>  
                        <td>1+0+1</td> 
                    </tr>
                 
                </tbody> 
            </table> 


            <!-- diagnosis -->
            <table class="table table-striped"> 
                <thead>
                    <tr class="bg-info header-2">
                        <th>Diagnosis</th>
                        <th>Instruction</th>
                    </tr>
                </thead>
                <tbody>
                                                    <tr>
                        <td>Urine RE</td> 
                        <td>Advice</td> 
                    </tr>
                 
                </tbody> 
            </table>  
        </div> 
    </div>
        </table>
</div>
</div>         
<!-- Optional JavaScript; choose one of the two! -->

                <!-- Option 1: Bootstrap Bundle with Popper -->
                <script
                    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous"></script>

                <!-- Option 2: Separate Popper and Bootstrap JS -->

                <script
                    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
                    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
                    crossorigin="anonymous"></script>
                <script
                    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
                    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
                    crossorigin="anonymous"></script>

                    <script>
                         function myFunction() {
        var elmnt = document.getElementById("form_id");
        var cln = elmnt.cloneNode(true);
        document.body.appendChild(cln);
    }
                    </script>
            </body>
        </html>
