<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

        <title>Bill!!</title>
    </head>

    <body>
        <div class="container">
            <h1 style="text-align: center;">Billl!!</h1>
            <form action="" method="">

                <div class="form-group">
                    <label for="pateint_id">Pateint ID</label>
                    <input type="text" class="form-control" id="pateint_id"
                        placeholder="Patient Id">
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date"
                        placeholder="Date">
                </div>
                <div class="row">|
                <div class="servdiv" id="firstserv">
                    
                    <div class="form-group ml-4">
                        <label for="services">Services</label>
                        <input type="text" class="form-control" name="serv" id="services"
                            placeholder="Services">
                    </div>
                    </div>
                    
                    <div class="form-group ml-1">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description"
                            placeholder="Service Description">
                    </div>

                    <div class="form-group ml-1">
                        <label for="rate">Rate</label>
                        <input type="text" class="form-control" id="rate"
                            placeholder="Rate">
                    </div>
                    <div class="form-group ml-1">
                        <label for="quantity">Quantity</label>
                        <input type="text" class="form-control" id="quantity"
                            placeholder="Quantity">
                    </div>
                    <div class="form-group ml-1">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price"
                            placeholder="Price">
                    </div>
                </div>
                    <!-- More Services -->
                                 <div id="moreservices"></div>
                    <!-- more services -->

                </div>
                <div class="button">
                    <button type="button" class="btn btn-info m-2"
                        onclick="addservices();">Add Services </button>
                    <button type="button" class="btn btn-info"
                        onclick="removeservices();">Remove Services</button>
                </div>

            </form>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script type="text/javascript">
          function addservices() {
           // body...
              $('.servdiv').clone().appendTo('#moreservices');
 }
 function removeservices(){
     //body..
     $('#moreservices ,servdiv').last().remove();
 }
     </script>
    </body>
</html>